<!DOCTYPE html>
<html>
<head>
  <title>Ops... The page you were looking for doesn't exist.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com//twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="container">
    <div class="row">
      <div class="span8 offset2">
        <div class="hero-unit">
          <h1>The page you were looking for doesn't exist.</h1>
          <p>You may have mistyped the address or the page may have moved.</p>
          <%= link_to "Go back to the index page", root_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
