.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  %h1 Call and Order now!
= simple_form_for call, class: 'clearfix', remote: true do |f|
  .modal-body
    = f.input :delivery_time, input_html: { class: 'form-control' }, label: 'Estimated delivery time (in minutes)'
  .modal-footer
    %a.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Close
    = f.submit 'Order', class: 'btn btn-primary'

