%p.text-center
  = image_tag(avatar_url(@user), size: "120x120", class: 'border-photo-profile')
%br
%table.table.table-bordered
  %thead
    %tr
      %th{:colspan => "2"} Profile:
  %tbody
    %tr
      %td
        %strong Name:
      %td= @user.try(:name)
    %tr
      %td
        %strong Email:
      %td= @user.try(:email)
    %tr
      %td
        %strong Member since:
      %td= @user.created_at.strftime("%d/%m/%Y")
%br
