.header#home
  .container
    .logo
    .menu
      %ul.menu-top
        %li
        %li
        %li
          .main
            %section
      #small-dialog.mfp-hide
        .login
      #small-dialog1.mfp-hide
        .signup
