/ #header-main
/   = render partial: 'shared/header'
#header-main
  = render partial: 'header'
#flash-messages.container
  = render partial: 'shared/flash_messages', flash: flash
#order-list.container
  = render partial: 'orders/order_list', locals: { orders: @today_orders }
#buttons.container
  = render partial: 'shared/buttons'
#modal.modal.fade
