%span.timeprint
  = timeago_tag activity.created_at, :nojs => false, :limit => 3000.days.ago
%br
= fa_icon "refresh"
= activity.owner.name
%strong updated rate of
- if activity.trackable
  = show_item_in_public_activity(activity.trackable) + "."
- else
  something which has been destroyed.
