:javascript
  $(function(){
     $('.pagination a').attr('data-remote', 'true')
  });

#header-main
  = render partial: 'header'
#flash-messages.container
  = render partial: 'shared/flash_messages', flash: flash
#restaurant-list
  = render partial: 'restaurants/restaurant_list'
#modal.modal.fade
