- if user_signed_in?
  #header-main
    = render partial: 'header'
#flash-messages.container
  = render partial: 'shared/flash_messages', flash: flash
#restaurant-list.container
  = render partial: 'restaurants/restaurant_list', locals: { restaurants: @restaurants }
#modal.modal.fade
