/* Google Autofill fix */
.pac-container {
    z-index: 1051 !important;
}

.centered {
  text-align: center;

  .button-add {
    padding: 8px 0 8px 0;
  }
}

.login-info {
  margin-top: 9px;
  a {
    color: #999999;
    &:hover {
      color: #FFFFFF;
      cursor: default;
      text-decoration: none;
    }
  }
}

.activity {
  ul {
    li {
      list-style: none;
      padding: 8px 0 8px 0;
      border-bottom: 1px solid #DDDDDD;
      .timeprint {
        font-size: 12px;
        color: #b2b2b2;
        padding-bottom: 5px;
      }
    }
  }
}

.border-photo-profile {
  border-radius: 100%;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.total {
  color: black;
}

.price-total {
  color: red;
  padding: 5px 0 5px 0;
}

.buttons-order {
  padding-bottom: 15px;
}
.bold {
  font-weight: bold;
}
