%p.text-center
  = image_tag(avatar_url(current_user), size: "120x120", class: 'border-photo-profile')
%br
%table.table.table-bordered
  %thead
    %tr
      %th Profile:
  %tbody
    %tr
      %td
        %strong Name:
      %td= @user.name
    %tr
      %td
        %strong Email:
      %td= @user.email
    %tr
      %td
        %strong Member since:
      %td= @user.created_at.strftime("%d/%m/%Y")
%br
